{% extends "layout/dashboard.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block dashboard_content %}

<c-ui.page-header
    title="Dashboard"
/>

<div
    class="
    grid
    gap-4
    md:grid-cols-2
    xl:grid-cols-4
    "
>

    <c-ui.stats-card
        title="Students"
        value="{{ student_count }}"
    />

    <c-ui.stats-card
        title="Courses"
        value="{{ course_count }}"
    />

    <c-ui.stats-card
        title="Exams"
        value="{{ exam_count }}"
    />

    <c-ui.stats-card
        title="Attendance"
        value="{{ attendance_count }}"
    />

</div>

{% endblock %}