{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
        LMS
        {% endblock %}
    </title>

    {% block css %}{% endblock %}

</head>

<body>

    {% include "partials/messages.html" %}

    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% django_browser_reload_script %}

</body>

</html>