{% extends "layout/base.html" %}

{% block content %}

<div
    class="
    min-h-screen
    flex
    "
>

    <!-- Sidebar -->

    <aside
        class="
        hidden
        lg:block
        w-72
        border-r
        "
    >

        <c-ui.sidebar />

    </aside>

    <!-- Main Area -->

    <div
        class="
        flex-1
        "
    >

        <c-ui.topbar />

        <main
            class="
            p-4
            md:p-6
            "
        >

            {% block dashboard_content %}
            {% endblock %}

        </main>

    </div>

</div>

{% endblock %}