<ui:card class="w-full max-w-md">

    <ui:card-header>
        Welcome Back
    </ui:card-header>

    <ui:card-content>
<!-- 
        <form method="post" > -->
        <form
            hx-post="{% url 'account_login' %}"
            hx-target="#auth-container"
            hx-swap="outerHTML"
        >

            {% csrf_token %}

            {{ form }}

            <ui:button
                class="w-full"
            >
                Sign In
            </ui:button>

        </form>

    </ui:card-content>

</ui:card>