{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
        Brills LMS
        {% endblock %}
    </title>

    <link
        rel="manifest"
        href="{% static 'manifest.json' %}"
    >

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />

    {% block css %}
    {% endblock %}

</head>

<body>

    {% include "partials/messages.html" %}

    {# Sidebar for desktop and topbar for mobile to give native app feel #}
    <div class="hidden lg:block">
        {% include 'cotton/app_sidebar/index.html' %}
    </div>

    <div class="lg:hidden">
        {% include 'cotton/app_topbar/index.html' %}
    </div>

    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {# Mobile nav for small screens #}
    {% include 'cotton/mobile_nav/index.html' %}

    {% django_browser_reload_script %}

</body>

</html>